{% load static i18n %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Crypto Demo</title>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.0/examples/sign-in/signin.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <form class="form-signin" method="post" action="{% url 'run_batch_upload_view' %}" enctype="multipart/form-data">
         {% csrf_token %}
      <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Please upload your rules CSV file</h1>
      <label for="file" class="sr-only">Email address</label>
      <input type="file" id="file" name="file" class="form-control" placeholder="Upload your csv" required autofocus>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Upload</button>
        <p>
            <a href="/template/">Download the template from here</a>
        </p>
        {% if errors %}
        <br>
        <p>{{errors}}</p>
        {% endif %}
        {% if rules %}
        <br>
        <h3>Rules</h3>
        {% for rule in rules %}
        <div class="row">
            <div class="col-md-6">{{ rule.created_at }}</div>
            <div class="col-md-6">{{ rule.logic }}</div>
        </div>
        {% endfor %}
        {% endif %}
      <p class="mt-5 mb-3 text-muted">&copy; 2020-2021</p>
    </form>

  </body>
</html>
